# python
.venv
*__pycache__/
# DATA FILE
.env
data/mastodon/my_*cred.txt

# compiled files
*.egg-info/
dist/
build/

###############################################################################
# editor
.idea
